.label {
  margin-left: 2%;
}

.flex-right {
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.flex-center {
  display: flex;
  justify-content: center;
}

button {
  border: none;
}
